name: Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - name: Test
      working-directory: ${{github.workspace}}
      run: powershell -ep bypass .\test_pull.ps1
